<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @booking.status %>
</p>

<p>
  <strong>Title:</strong>
  <%= @booking.title %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @booking.cost %>
</p>

<p>
  <strong>Start:</strong>
  <%= @booking.start %>
</p>

<p>
  <strong>Cancellation reason:</strong>
  <%= @booking.cancellation_reason %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @booking.schedule_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @booking.item %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
